/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genereics */

body{
    font-family: cursive;
    background-image: url('https://dmrqkbkq8el9i.cloudfront.net/Pictures/2000xAny/9/2/9/271929_supermarketaisleshelves_521159.jpg');
    
}

h1{
    color: red;
}

/* List */

.list{
    margin: 0 auto;
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/15/13/memory-1293086_640.png');
    background-size: cover;
    width: 600px;
    height: 640px;
}

#market-list-1,
#market-list-2 {
    position: relative;
    left: 30%;
    top: 22%;
    rotate: 2deg;
}

#market-list-1{
    margin-bottom: 53px;
}